html, body {
	background-color: #f5f5f5;
	font-family: "Microsoft YaHei", "Segoe UI Light", "Segoe UI", "Heiti SC";
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

button {
	font-family: "Microsoft YaHei", "Segoe UI Light", "Segoe UI", "Heiti SC";
}

.text-bold {
	font-weight: bold;
}

div.container {
	width: 960px;
}

div#header {
	padding: 15px 0;
}

div#header div#logo img {
	height: 48px;
	max-height: 48px;
}

div#header div#nav {
	padding-top: 8px;
	text-align: right;
}

div#header div#nav img {
	max-height: 20px;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}

div#header div#nav ul.dropdown-menu {
	background-color: #fff;
	border: 1px solid rgba(0,0,0,0.15);
	padding: 5px 0;
	text-align: left;
	border-radius: 4px;
	box-shadow: 0 3px 12px rgba(0,0,0,0.15);
}

div#header div#nav ul.dropdown-menu li {
	padding: 5px 10px;
}

div#header div#nav ul.dropdown-menu li:hover {
	background-color: #f5f5f5;
}

div#header div#nav ul.dropdown-menu li.divider {
	margin: 5px 0;
	padding: 0;
}

div#header div#nav ul.dropdown-menu li > a {
	background-color: transparent;
	padding: 0;
}

div#header div#nav ul.inline button {
	background-color: #86d801;
}

div#header div#nav ul.inline button:hover {
	background-color: #fa8000;
}

div#footer {
	background: #243137;
	color: #fff;
	padding: 40px 0;
	position: relative;
}

div#footer::before {
	background: url('../img/footer-wave.svg') repeat-x;
	height: 16px;
	width: 100%;
	position: absolute;
	top: -16px;
	left: 0;
	content: '';
}

div#footer h5 {
	margin-top: 0;
}

div#footer a {
	color: #fff;
}

div#footer ul {
	color: #fff;
	list-style: none;
	margin: 0;
	padding: 0;
}

div#footer i.fa {
	display: inline-block;
	*display: inline;
	text-align: center;
	width: 20px;
	zoom: 1;
}

div#footer ul.inline li {
	padding-left: 0;
}

div#footer ul.inline li i.fa {
	font-size: 16px;
	text-align: left;
}

div#footer div#footer-bottom {
	border-top: 1px solid #999;
	font-size: 12px;
	margin: 20px 0 0;
	padding: 10px 0;
}

div#footer div#copyright {
	padding: 15px 0;
}

/* Style for Markdown Editor */
div#wmd-button-bar {
	background-color: transparent;
	border: 2px solid #ccc;
	border-bottom: 0;
	clear: both;
	margin: 10px 0 0 0;
	padding: 0 12px;
	-webkit-border-radius: 6px 6px 0 0;
	   -moz-border-radius: 6px 6px 0 0;
	        border-radius: 6px 6px 0 0;
}

div#wmd-button-bar ul {
	margin: 0;
	padding: 15px 0;
}

div#wmd-button-bar li {
	display: inline-block;
	display: *inline;
	list-style: none;
	zoom: 1;
}

div#wmd-button-bar li.wmd-spacer {
	width: 20px;
}

div#wmd-button-bar li.wmd-button > span {
	background-image: url('../img/wmd-buttons.svg');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	display: inline-block;
	display: *inline;
	height: 20px;
	width: 20px;
	zoom: 1;
}

div.wmd-panel textarea.wmd-input {
	height: 240px;
	line-height: 1.2;
	padding: 10px;
	resize: none;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-border-radius: 0 0 6px 6px;
	   -moz-border-radius: 0 0 6px 6px;
	        border-radius: 0 0 6px 6px;
}

div.wmd-preview {
	background-image: url('../img/wmd-draft.png');
	border: 1px dotted #ccc;
	clear: both;
	margin-top: 10px;
	padding: 10px;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}

div.wmd-prompt-background {
	background-color: #000;
	opacity: .5;
}

div.wmd-prompt-dialog {
	background-color: #fff;
}

/* Style for Markdown Style */
div.markdown h1 {
	font-size: 16px;
}

div.markdown h2 {
	font-size: 14px;
}

div.markdown h3 {
	font-size: 12px;
}

div.markdown h4 {
	font-size: 10px;
}

div.markdown h5 {
	font-size: 8px;
}

div.markdown h6 {
	font-size: 6px;
}

div.markdown blockquote,
div.markdown blockquote p {
	font-size: 14px;
	line-height: 120%;
}

div.markdown code {
	color: #333;
	word-wrap: break-word;
	white-space: pre;
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	div.container {
		width: 768px;
	}
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	div#header div#logo {
		text-align: center;
	}

	div#header div#nav {
		margin-top: 20px;
		text-align: center;
	}

	div#footer div#footer-bottom,
	div#footer div.text-right {
		text-align: center;
	}

	div#footer h5 {
		margin-top: 20px;
	}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	div.container {
		width: 480px;
	}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	div.container {
		width: 300px;
	}
}
