div#new-issue {
	margin-bottom: 60px;
}

div#new-issue div.header {
	border-bottom: 1px solid #dedede;
}

div#new-issue div.header ul.inline li {
	padding-left: 0;
	padding-right: 10px;
}

div#new-issue div.header ul.inline li a {
	color: #34495e;
}

div#new-issue div.body div.avatar {
	padding: 10px 10px 10px 0; 
	height: 80px;
}

div#new-issue div.body div.avatar img {
	border-radius: 4px;
}

div#new-issue div.body div.issue {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	margin: 10px 0 20px;
	position: relative;
}

div#new-issue div.body div.issue:before,
div#new-issue div.body div.issue:after {
	content: ' ';
	border-color: transparent;
	border-style: solid solid outset;
	display: block;
	pointer-events: none;
	position: absolute;
	top: 11px;
	left: -16px;
	right: 100%;
	height: 0;
	width: 0;
}

div#new-issue div.body div.issue:before {
	border-right-color: #ddd;
	border-width: 8px;
}

div#new-issue div.body div.issue:after {
	border-width: 7px;
	border-right-color: #f7f7f7;
	margin-top: 1px;
	margin-left: 2px
}

div#new-issue div.body div.issue.current-user {
	border-color: #bfccd1;
}

div#new-issue div.body div.issue.current-user:before {
	border-right-color: #bfccd1;
	border-width: 8px;
}

div#new-issue div.body div.issue div.issue-header {
	background-color: #f7f7f7;
	border-bottom: 1px solid #eee;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	color: #767676;
	padding: 10px 15px 0;
}

div#new-issue div.body div.issue.current-user div.issue-header {
	background-color: #f2f8fa;
	border-bottom-color: #dde4e6
}

div#new-issue div.body div.alert {
	margin-top: 10px;
}

div#new-issue div.body div#markdown-editor {
	margin: 10px 15px;
}

div#new-issue div.body input[type=text],
div#new-issue div.body select,
div#new-issue div.body div#markdown-editor div#wmd-button-bar,
div#new-issue div.body div#markdown-editor textarea#wmd-input {
	border-width: 1px;
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	div#new-issue div.header div.span3 {
		text-align: left;
		margin-bottom: 10px;
	}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
}