div#product {
	margin-bottom: 40px;
}

div#product div.panel {
	margin-bottom: 20px;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .1);
	   -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .1);
	        box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}

div#product div.panel div.header {
	background-color: #2980b9;
	color: #fff;
	padding: 10px;
}

div#product div.panel div.header > a {
	color: #fff;
}

div#product div.panel div.body {
	background: #fff;
	padding: 20px 10px;
}

div#product div.panel div.body  div.section {
	border-top: 5px solid #2980b9;
	margin-top: 10px;
	padding-top: 20px;
	position: relative;
}

div#product div.panel div.body div.section:first-child {
	border-top: none;
	margin-top: 0;
	padding-top: 0;
}

div#product div.panel div.body div.section div.description {
	color: #666;
	padding: 10px 20px 0;
}

div#product div.panel div.body div.section div#product-logo {
	position: absolute;
	top: -10px;
	right: 0;
}

div#product div.panel div.body div.section div#product-logo img {
	max-height: 40px;
}

div#product div.panel div.body button#issue-filter {
	margin-bottom: 10px;	
}

div#product div.panel div.body p#loading img {
	max-height: 24px;
}

div#product div.panel div.body ul#issues {
	list-style: none;
	margin: 0;
	padding: 0;
}

div#product div.panel div.body ul#issues li.issue {
	border-bottom: 1px solid #dedede;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

div#product div.panel div.body ul#issues li.issue:last-child {
	border-bottom: none;
}

div#product div.panel div.body ul#issues li.issue h5 {
	height: 20px;
	overflow: hidden;
	position: relative;
	z-index: 2;
}

div#product div.panel div.body ul#issues li.issue ul.inline a {
	color: #34495e;
}

div#product div.panel div.body ul#issues li.issue div.issue-reply {
	color: #666;
	font-size: 16px;
	padding: 25px 0 15px;
}

div#developer,
div#relational-products {
	margin-bottom: 20px;
}

div#developer img {
	display: block;
	margin-bottom: 10px;
	max-width: 128px;
	height: 128px;
	width: 128px;
}

div#relational-products ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

div#relational-products li.product {
	margin-bottom: 10px;
}

div#relational-products li.product h6 {
	margin: 0;
	text-transform: none;
}

div#relational-products li.product h6 > a {
	color: #333;
}

div#relational-products li.product p {
	font-size: 12px;
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	div#developer,
	div#relational-products {
		display: none;
	}

	div#product div.panel div.body div.row-fluid,
	div#product ul#issues li.issue {
		position: relative;
	}

	div#product div.panel div.body button#issue-filter {
		position: absolute;
		top: 0;
		right: 0;
	}

	div#product div.panel div.body ul#issues li.issue div.issue-reply {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
	}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
}