div#content div#slider {
	margin-bottom: 40px;
}

div#content div#slider div.bg-1 div.sl-slide-inner {
	background: #202021 url('../img/homepage/slide-img-1.png') center repeat;
	color: #fff;
}

div#content div#slider div.bg-2 div.sl-slide-inner {
	background: #2c1808 url('../img/homepage/slide-img-2.jpg') center no-repeat;
	color: #fff;
}

div#content div#slider div.bg-3 div.sl-slide-inner {
	background: #515d81 url('../img/homepage/slide-img-3.jpg') no-repeat center top;
	background-size: cover;
	color: #fff;
}

div#content div#worldwide {
	text-align: center;
	margin-bottom: 40px;
}

div#content div#worldwide img {
	max-width: 100%;
	margin-bottom: 20px;
}

div#content div#worldwide div.column div.header {
	background-color: #efefef;
	padding: 20px 0;
	text-align: center;
}

div#content div#worldwide .ui.header > i.icon,
div#content div#worldwide .ui.header > div.content {
	display: inline-block;
}

div#content div#worldwide div.column i.icon {
	color: #0073da;
	font-size: 72px;
	margin-bottom: 60px;
}

div#content div#worldwide div.numbers > span {
	background-color: #303840;
	color: #fff;
	display: inline-block;
	font-weight: 700;
	font-size: 72px;
	line-height: 1.2em;
	text-align: center;
	width: 50px;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}

div#content div#worldwide div.numbers > span.text {
	background-color: transparent;
	color: #303840;
	display: block;
	font-weight: 100;
	font-size: 36px;
	line-height: 28px;
	margin-top: 14px;
	width: auto;
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	div#content div#slider {
		margin-top: 14px;
	}
}